*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Mumblers Demo";
    background-color: yellow;
}

.container{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    display: flex;
}

.groceries{
    border: 1px solid black;
    width: 600;
    min-height: 100vh;
    margin: auto;
    background: white;
    box-shadow: 10px 10px 24px 0 rgba(0,0,0,5);
}

.groceries h1{
    font-size: 2.5rem;
    margin-top: 1rem;
}

.groceries i{
    font-size: 2rem;
    color: rgb(255, 153, 0);
}

.groceries input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allItem h2{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}

@media(max-width:480px){
    .groceries h1{
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    
    .groceries i{
        font-size: 2rem;
        color: yellow;
    }
    
    .groceries input{
        font-family: inherit;
        outline: 0;
        border: 0;
        border-bottom: 3px solid black;
        width: 70%;
        font-size: 1.5rem;
    }  
}